
    .itemFr {
      margin: 8px;
      padding: 20px 20px;
      border-radius: 20px/60px;
      /* background-color: #6495ED; */
      border: #1E90FF solid 2px;
      color: white;
      box-shadow: inset 0 0 7px 4px rgba(255,255,255,.5);
      display: flex;
      justify-content:flex-start;
      align-items: center;
    }

    .avatar
    {
      border-radius: 20px/60px;
      margin-left: 30px;
      margin-right: 50px;

    }

    
    .status
    /* .statusOn, */
    /* .statusOff */
    {
        background-color: transparent;
        color: transparent;
        border-radius: 20px/60px;    
            width: 25px;
 
    }
    .statusOn
    {
        composes: status;
        background-color: rgba(75, 178, 223, 0.856);
    }

    .statusOff
    {
        composes: status;
        background-color: #f7445f;
    }


   